anyio==3.7.1
argcomplete==2.0.0
Beaker==1.12.1
beautifulsoup4==4.12.2
blivet==3.7.1
blivet-gui==2.4.1
Brotli==1.0.9
cairocffi==1.3.0
CairoSVG==2.7.0
certifi==2023.7.22
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
cryptography==37.0.2
cssselect2==0.7.0
cupshelpers==1.0
dasbus==1.7
dbus-python==1.3.2
defusedxml==0.7.1
distro==1.8.0
evdev==1.6.1
file-magic==0.4.0
gpg==1.17.1
h11==0.14.0
hid-parser==0.0.3
httpcore==0.17.3
httpx==0.24.1
humanize==3.13.1
idna==3.4
initial-setup==0.3.97
langtable==0.0.62
libcomps==0.1.18
lxml==4.9.2
Mako==1.2.3
MarkupSafe==2.1.2
mpv==1.0.4
mutagen==1.46.0
nftables==0.1
olefile==0.46
onboard==1.4.1
packaging==23.0
Paste==3.5.2
pexpect==4.8.0
pid==2.2.3
Pillow==9.4.0
ply==3.11
powerline-status==2.8.3
productmd==1.35
psutil==5.9.2
ptyprocess==0.7.0
pwquality==1.4.5
pycairo==1.23.0
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.18.0
pycups==2.0.1
pycurl==7.45.2
pyenchant==3.2.2
pygit2==1.12.2
PyGObject==3.44.1
pyinotify==0.9.6
pykickstart==3.47
pynput==1.7.6
pyOpenSSL==21.0.0
pyparted==3.12.0
PySocks==1.7.1
pystray==0.17.3
python-augeas==1.1.0
python-dateutil==2.8.2
python-gettext==4.0
python-manatools==0.0.4
python-meh==0.51
python-pam==2.0.2
python-vlc==3.0.18122
python-xlib==0.33
pytz==2023.3
pyudev==0.24.0
pyxdg==0.27
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
requests-file==1.5.1
requests-ftp==0.3.1
rpm==4.18.1
selinux==3.5
sepolicy==3.5
setools==4.4.2
setproctitle==1.2.3
setroubleshoot==3.3.32
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sniffio==1.3.0
solaar==1.1.9
sos==4.5.1
soupsieve==2.4.1
systemd-python==235
Tempita==0.5.2
tinycss2==1.2.1
urllib3==1.26.16
webencodings==0.5.1
websockets==11.0.3
xcffib==1.2.0
xlrd==2.0.1
youtube-dl==2021.12.17
youtube-search==2.1.2
youtube-search-python==1.6.6
yt-dlp @ https://github.com/yt-dlp/yt-dlp/archive/master.tar.gz
